<head>
  <meta charset="utf-8">
  <title>QRLogin</title>
  <link rel="stylesheet" type="text/css" href="/cb.css">

  <script type="text/javascript" src="/qrcodejs/jquery.min.js"></script>
  <script type="text/javascript" src="/qrcodejs/qrcode.min.js"></script>
  <script type="text/javascript" src="/cb.js"></script>
</head>
<body>
  <%= yield %>
</body>
