<head>
  <meta charset="utf-8">
  <title>QRLogin</title>
  <script src="/qrcodejs/jquery.min.js"></script>
  <script src="/qrcodejs/qrcode.min.js"></script>

  <script src="/cb.js"></script>
</head>
<body>
  <%= yield %>
</body>
